button {
  background: #fffcfc;
  background-image: -webkit-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: -moz-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: -ms-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: -o-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: linear-gradient(to bottom, #fffcfc, #ffcccc);
  color: #242424;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  border: solid #d8d8d8 1px;
  text-decoration: none;
}

button:hover {
  background: #ffcccc;
  background-image: -webkit-linear-gradient(top, #ffcccc, #fa9696);
  background-image: -moz-linear-gradient(top, #ffcccc, #fa9696);
  background-image: -ms-linear-gradient(top, #ffcccc, #fa9696);
  background-image: -o-linear-gradient(top, #ffcccc, #fa9696);
  background-image: linear-gradient(to bottom, #ffcccc, #fa9696);
  text-decoration: none;
}

input {
  background: #e9e9e9;
  background-image: -webkit-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: -moz-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: -ms-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: -o-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: linear-gradient(to bottom, #e9e9e9, #fcfcfc);
  border: solid #d8d8d8 1px;
  text-decoration: none;
}
