html,
body {
  width: 100%;
  background-image: url(../img/bg-pattern.jpg);
}

.top-border {
  background-image: url(../img/strip-footer.jpg);
  margin: 0 auto;
  width: 100%;
  height: 7px;
}

.line-break {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.line-break-darker {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background: grey;
  background: -webkit-gradient(
    radial,
    50% 40%,
    0,
    50% 40%,
    350,
    from(lightgrey),
    to(#efefef)
  );
}
