.container {
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  border-right: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
}

.content {
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

section {
  @extend .content;
}
