@import 'grid';
@import 'defaults';

header {
  @extend .content;
  margin-bottom: 20px;
  position: relative;
  height: 100%;
}

nav {
  list-style-type: none;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.nav-top {
  @extend nav;
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 0;
  box-sizing: border-box;
  color: #666;
  font-style: italic;

  > li {
    float: left;
    padding: 1%;

    > a {
      text-decoration: none;
      color: grey;

      &:hover {
        color: #fa9696;
      }
    }
  }
}

.nav-top li:nth-child(4),
.nav-top li:nth-child(5) {
  border-right: solid #d8d8d8 1px;
}

.nav-top li:nth-child(5),
.nav-top li:nth-child(4),
.nav-top li:nth-child(3) {
  float: right;
}

.main-splash {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  > .motto {
    width: 25%;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-family: $cursive-font;
  }

  > .search {
    @extend .motto;
    font-size: 1em;

    > input {
      margin-top: 10%;
    }
  }

  > .logo {
    text-align: center;
    width: 45%;

    > img {
      margin-top: 2%;
    }
  }
}

.main ul {
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 1%;
  text-align: center;

  > li {
    padding: 5px;

    > a {
      display: inline;
      color: black;
      text-decoration: none;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 1em;

  > li:hover {
    background-color: lightgrey;
  }
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .droplink {
  background-color: #3e8e41;
}
