@import 'grid';

header {
  @extend .content;
  margin-bottom: 20px;
}

nav {
  list-style-type: none;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.nav-top {
  @extend nav;
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 0;
  box-sizing: border-box;
  color: #666;
  font-style: italic;

  > li {
    float: left;
    padding: 1%;

    > a {
      text-decoration: none;
      color: grey;
    }
  }
}

.nav-top li:nth-child(4),
.nav-top li:nth-child(5) {
  border-right: solid #d8d8d8 1px;
}

.nav-top li:nth-child(5),
.nav-top li:nth-child(4),
.nav-top li:nth-child(3) {
  float: right;
}

div.main-splash {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-flex;
  justify-content: space-between;
  text-align: center;

  > .motto {
    font-size: 0.7em;
    width: 25%;
    margin: 0;
    padding: 0;
  }

  > .search {
    @extend .motto;
    font-size: 1em;

    > input {
      margin-top: 10%;
    }
  }

  > .logo {
    text-align: center;
    width: 45%;

    > img {
      margin-top: 2%;
    }
  }
}

.main ul {
  list-style-type: none;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  > li {
    padding: 10px;

    > a {
      color: black;
      text-decoration: none;
    }
  }
}
