@import 'defaults';
@import 'grid';
@import 'header';
@import 'buttons';

.slide-show {
  margin-top: -1%;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 45%;

  > .slide-overlay {
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-right: 50px;
    width: 35%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );

    > h1 {
      color: $main-blue;
      text-shadow: 2px 2px #fff;
      font-size: 3.5em;
    }

    > p.cursive {
      font-size: 1.8em;
    }
  }
}

.features {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  > .box {
    width: 25%;
    margin-left: 10px;

    > h1 {
      font-size: 2.2em;
      color: $main-blue;
    }

    > p.cursive {
      font-size: 1.8em;
    }
  }
}

.mission {
  margin-top: 3%;
  margin-bottom: 0%;

  > h1 {
    font-size: 2.2em;
    color: $main-blue;
  }

  > p {
    font-size: 1.1em;
  }

  > p.cursive {
    font-size: 1.8em;
    float: right;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;

  > .links-list {
    margin: 0;
    text-align: left;
    width: 15%;
    padding: 5px;

    > h2 {
      color: $main-blue;
      font-size: 1.4em;
    }

    > ul {
      list-style-type: none;
      padding: 0;

      > li {
        margin-top: 5%;

        > a {
          text-decoration: none;
          color: #000;
          font-size: .9em;

          &:hover {
            color: #fa9696;
          }
        }
      }
    }
  }
}

#links-contact {
  width: 25%;
}

#links-social {
  width: 25%;

  > .social-icons {
    display: flex;
    justify-content: space-between;
  }

  > .email {
    display: flex;
  }
}
