html,
body {
  width: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 0.9em;
  font-weight: 100;
  background-image: url(../img/bg-pattern.jpg); }

a {
  text-decoration: none;
  color: black; }

h1,
h2,
h3 {
  font-weight: lighter; }

.pattern-border {
  background-image: url(../img/strip-footer.jpg);
  margin: 0 auto;
  width: 100%;
  height: 8px; }

.line-break {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid lightgrey; }

.line-break-darker {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background: grey;
  background: -webkit-gradient(radial, 50% 40%, 0, 50% 40%, 350, from(lightgrey), to(#efefef)); }

.cursive {
  font-family: "Allura", cursive; }

.container {
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  border-right: 2px solid lightgrey;
  border-left: 2px solid lightgrey; }

.content, section, header {
  margin: 0 auto;
  width: 90%;
  overflow: hidden; }

.container {
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  border-right: 2px solid lightgrey;
  border-left: 2px solid lightgrey; }

.content, section, header {
  margin: 0 auto;
  width: 90%;
  overflow: hidden; }

html,
body {
  width: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 0.9em;
  font-weight: 100;
  background-image: url(../img/bg-pattern.jpg); }

a {
  text-decoration: none;
  color: black; }

h1,
h2,
h3 {
  font-weight: lighter; }

.pattern-border {
  background-image: url(../img/strip-footer.jpg);
  margin: 0 auto;
  width: 100%;
  height: 8px; }

.line-break {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid lightgrey; }

.line-break-darker {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background: grey;
  background: -webkit-gradient(radial, 50% 40%, 0, 50% 40%, 350, from(lightgrey), to(#efefef)); }

.cursive {
  font-family: "Allura", cursive; }

header {
  margin-bottom: 20px;
  position: relative;
  height: 100%; }

nav, .nav-top {
  list-style-type: none;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.nav-top {
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 0;
  box-sizing: border-box;
  color: #666;
  font-style: italic; }
  .nav-top > li {
    float: left;
    padding: 1%; }
    .nav-top > li > a {
      text-decoration: none;
      color: grey; }
      .nav-top > li > a:hover {
        color: #fa9696; }

.nav-top li:nth-child(4),
.nav-top li:nth-child(5) {
  border-right: solid #d8d8d8 1px; }

.nav-top li:nth-child(5),
.nav-top li:nth-child(4),
.nav-top li:nth-child(3) {
  float: right; }

.main-splash {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  text-align: center; }
  .main-splash > .motto, .main-splash > .search {
    width: 25%;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-family: "Allura", cursive; }
  .main-splash > .search {
    font-size: 1em; }
    .main-splash > .search > input {
      margin-top: 10%; }
  .main-splash > .logo {
    text-align: center;
    width: 45%; }
    .main-splash > .logo > img {
      margin-top: 2%; }

.main ul {
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 1%;
  text-align: center; }
  .main ul > li {
    padding: 5px; }
    .main ul > li > a {
      display: inline;
      color: black;
      text-decoration: none; }

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 1em; }
  .dropdown > li:hover {
    background-color: lightgrey; }

.dropdown-content {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: lightgrey; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .droplink {
  background-color: #3e8e41; }

html,
body {
  width: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 0.9em;
  font-weight: 100;
  background-image: url(../img/bg-pattern.jpg); }

a {
  text-decoration: none;
  color: black; }

h1,
h2,
h3 {
  font-weight: lighter; }

.pattern-border {
  background-image: url(../img/strip-footer.jpg);
  margin: 0 auto;
  width: 100%;
  height: 8px; }

.line-break {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid lightgrey; }

.line-break-darker {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background: grey;
  background: -webkit-gradient(radial, 50% 40%, 0, 50% 40%, 350, from(lightgrey), to(#efefef)); }

.cursive {
  font-family: "Allura", cursive; }

button {
  background: #fffcfc;
  background-image: -webkit-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: -moz-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: -ms-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: -o-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: linear-gradient(to bottom, #fffcfc, #ffcccc);
  padding: 5px 10px 5px 10px;
  border: solid #d8d8d8 1px;
  text-decoration: none;
  color: #242424;
  font-size: 0.5em;
  font-family: Georgia, Times, "Times New Roman", serif; }

button:hover {
  background: #ffcccc;
  background-image: -webkit-linear-gradient(top, #ffcccc, #fa9696);
  background-image: -moz-linear-gradient(top, #ffcccc, #fa9696);
  background-image: -ms-linear-gradient(top, #ffcccc, #fa9696);
  background-image: -o-linear-gradient(top, #ffcccc, #fa9696);
  background-image: linear-gradient(to bottom, #ffcccc, #fa9696);
  text-decoration: none; }

input {
  background: #e9e9e9;
  background-image: -webkit-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: -moz-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: -ms-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: -o-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: linear-gradient(to bottom, #e9e9e9, #fcfcfc);
  border: solid #d8d8d8 1px;
  text-decoration: none;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  height: 2em;
  width: 80%; }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-top li:nth-child(2),
  .nav-top li:nth-child(3),
  .main,
  .search,
  .motto,
  .main-splash > .search {
    display: none; }

  body {
    font-size: 2em; }

  .container {
    width: 100%; }

  .main-splash .logo,
  .features .box,
  .about .links-list {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    height: 100%;
    margin-bottom: 2%; }

  .about,
  .features,
  .main-splash {
    flex-wrap: wrap; }

  .slide-show {
    display: none; }

  .box img,
  .main-splash .logo img {
    width: 80%;
    object-fit: contain; }

  .about .collapsible {
    display: none; }

  .about .links-list.active .title {
    color: #fa9696; } }
.slide-show {
  margin-top: -1%;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 45%; }
  .slide-show > .slide-overlay {
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-right: 50px;
    width: 35%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white); }
    .slide-show > .slide-overlay > h1 {
      color: #7494b7;
      text-shadow: 2px 2px #fff;
      font-size: 3.5em; }
    .slide-show > .slide-overlay > p.cursive {
      font-size: 1.8em; }

.features {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  text-align: center; }
  .features > .box {
    width: 25%;
    margin-left: 10px; }
    .features > .box > h1 {
      font-size: 2.2em;
      color: #7494b7; }
    .features > .box > p.cursive {
      font-size: 1.8em; }

.mission {
  margin-top: 3%;
  margin-bottom: 0%; }
  .mission > h1 {
    font-size: 2.2em;
    color: #7494b7; }
  .mission > p {
    font-size: 1.1em; }
  .mission > p.cursive {
    font-size: 1.8em;
    float: right; }

.about {
  display: flex;
  margin-bottom: 2%; }
  .about > .links-list {
    margin: 0;
    text-align: left;
    width: 15%;
    padding: 5px; }
    .about > .links-list > h2 {
      color: #7494b7;
      font-size: 1.4em; }
    .about > .links-list > ul {
      list-style-type: none;
      padding: 0; }
      .about > .links-list > ul > li {
        margin-top: 5%; }
        .about > .links-list > ul > li > a {
          text-decoration: none;
          color: #000;
          font-size: .9em; }
          .about > .links-list > ul > li > a:hover {
            color: #fa9696; }

#links-contact {
  width: 25%; }

#links-social {
  width: 25%; }
  #links-social > .social-icons {
    display: flex;
    justify-content: space-between; }
  #links-social > .email {
    display: flex; }

/*# sourceMappingURL=main.css.map */
