html,
body {
  width: 100%;
  background-image: url(../img/bg-pattern.jpg); }

.top-border {
  background-image: url(../img/strip-footer.jpg);
  margin: 0 auto;
  width: 100%;
  height: 7px; }

.line-break {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid lightgrey; }

.line-break-darker {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background: grey;
  background: -webkit-gradient(radial, 50% 40%, 0, 50% 40%, 350, from(lightgrey), to(#efefef)); }

.container {
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  border-right: 2px solid lightgrey;
  border-left: 2px solid lightgrey; }

.content, section, header {
  margin: 0 auto;
  width: 90%; }

.slide-show {
  background: url(../img/slide-room.jpg) no-repeat right center;
  height: 400px; }
  .slide-show > .slide-overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-right: 50px;
    width: 30%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box; }

.features {
  margin-top: 20px;
  display: flex;
  text-align: center; }
  .features > .box {
    margin-left: 20px; }

.about {
  display: flex; }
  .about > .links-list {
    margin: 0;
    text-align: left;
    width: 15%;
    padding: 5px; }
    .about > .links-list > ul {
      list-style-type: none;
      padding: 0; }
      .about > .links-list > ul > li > a {
        text-decoration: none; }

#links-contact {
  width: 20%; }

#links-social {
  width: 30%; }

.container {
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  border-right: 2px solid lightgrey;
  border-left: 2px solid lightgrey; }

.content, section, header {
  margin: 0 auto;
  width: 90%; }

.slide-show {
  background: url(../img/slide-room.jpg) no-repeat right center;
  height: 400px; }
  .slide-show > .slide-overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-right: 50px;
    width: 30%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box; }

.features {
  margin-top: 20px;
  display: flex;
  text-align: center; }
  .features > .box {
    margin-left: 20px; }

.about {
  display: flex; }
  .about > .links-list {
    margin: 0;
    text-align: left;
    width: 15%;
    padding: 5px; }
    .about > .links-list > ul {
      list-style-type: none;
      padding: 0; }
      .about > .links-list > ul > li > a {
        text-decoration: none; }

#links-contact {
  width: 20%; }

#links-social {
  width: 30%; }

header nav, header ul.nav-top,
header ul.nav-main {
  list-style-type: none;
  display: inline;
  width: 100%;
  padding: 0; }

div.main-splash {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; }
  div.main-splash > .motto {
    display: inline;
    font-size: 1em;
    width: 33%; }
    div.main-splash > .motto > .logo {
      display: inline;
      width: 33%;
      align-items: center; }
      div.main-splash > .motto > .logo > .search-box {
        display: inline;
        width: 33%; }

/*# sourceMappingURL=main.css.map */
