html,
body {
  width: 100%;
  background-image: url(../img/bg-pattern.jpg);
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 0.9em;
  font-weight: 100; }

a {
  text-decoration: none;
  color: black; }

h1,
h2,
h3 {
  font-weight: lighter; }

.pattern-border {
  background-image: url(../img/strip-footer.jpg);
  margin: 0 auto;
  width: 100%;
  height: 8px; }

.line-break {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid lightgrey; }

.line-break-darker {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background: grey;
  background: -webkit-gradient(radial, 50% 40%, 0, 50% 40%, 350, from(lightgrey), to(#efefef)); }

.cursive {
  font-family: "Allura", cursive; }

.container {
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  border-right: 2px solid lightgrey;
  border-left: 2px solid lightgrey; }

.content, section, header {
  margin: 0 auto;
  width: 90%; }

section {
  overflow: hidden; }

.container {
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  border-right: 2px solid lightgrey;
  border-left: 2px solid lightgrey; }

.content, section, header {
  margin: 0 auto;
  width: 90%; }

section {
  overflow: hidden; }

html,
body {
  width: 100%;
  background-image: url(../img/bg-pattern.jpg);
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 0.9em;
  font-weight: 100; }

a {
  text-decoration: none;
  color: black; }

h1,
h2,
h3 {
  font-weight: lighter; }

.pattern-border {
  background-image: url(../img/strip-footer.jpg);
  margin: 0 auto;
  width: 100%;
  height: 8px; }

.line-break {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid lightgrey; }

.line-break-darker {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background: grey;
  background: -webkit-gradient(radial, 50% 40%, 0, 50% 40%, 350, from(lightgrey), to(#efefef)); }

.cursive {
  font-family: "Allura", cursive; }

header {
  margin-bottom: 20px; }

nav, .nav-top {
  list-style-type: none;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.nav-top {
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 0;
  box-sizing: border-box;
  color: #666;
  font-style: italic; }
  .nav-top > li {
    float: left;
    padding: 1%; }
    .nav-top > li > a {
      text-decoration: none;
      color: grey; }

.nav-top li:nth-child(4),
.nav-top li:nth-child(5) {
  border-right: solid #d8d8d8 1px; }

.nav-top li:nth-child(5),
.nav-top li:nth-child(4),
.nav-top li:nth-child(3) {
  float: right; }

div.main-splash {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center; }
  div.main-splash > .motto, div.main-splash > .search {
    font-size: 0.9em;
    width: 25%;
    margin: 0;
    padding: 0;
    font-family: "Allura", cursive; }
  div.main-splash > .search {
    font-size: 1em; }
    div.main-splash > .search > input {
      margin-top: 10%; }
  div.main-splash > .logo {
    text-align: center;
    width: 45%; }
    div.main-splash > .logo > img {
      margin-top: 2%; }

.main ul {
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center; }
  .main ul > li {
    padding: 5px; }
    .main ul > li > a {
      display: inline;
      color: black;
      text-decoration: none; }

html,
body {
  width: 100%;
  background-image: url(../img/bg-pattern.jpg);
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 0.9em;
  font-weight: 100; }

a {
  text-decoration: none;
  color: black; }

h1,
h2,
h3 {
  font-weight: lighter; }

.pattern-border {
  background-image: url(../img/strip-footer.jpg);
  margin: 0 auto;
  width: 100%;
  height: 8px; }

.line-break {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid lightgrey; }

.line-break-darker {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background: grey;
  background: -webkit-gradient(radial, 50% 40%, 0, 50% 40%, 350, from(lightgrey), to(#efefef)); }

.cursive {
  font-family: "Allura", cursive; }

button {
  background: #fffcfc;
  background-image: -webkit-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: -moz-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: -ms-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: -o-linear-gradient(top, #fffcfc, #ffcccc);
  background-image: linear-gradient(to bottom, #fffcfc, #ffcccc);
  padding: 5px 10px 5px 10px;
  border: solid #d8d8d8 1px;
  text-decoration: none;
  color: #242424;
  font-size: 0.5em;
  font-family: Georgia, Times, "Times New Roman", serif; }

button:hover {
  background: #ffcccc;
  background-image: -webkit-linear-gradient(top, #ffcccc, #fa9696);
  background-image: -moz-linear-gradient(top, #ffcccc, #fa9696);
  background-image: -ms-linear-gradient(top, #ffcccc, #fa9696);
  background-image: -o-linear-gradient(top, #ffcccc, #fa9696);
  background-image: linear-gradient(to bottom, #ffcccc, #fa9696);
  text-decoration: none; }

input {
  background: #e9e9e9;
  background-image: -webkit-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: -moz-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: -ms-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: -o-linear-gradient(top, #e9e9e9, #fcfcfc);
  background-image: linear-gradient(to bottom, #e9e9e9, #fcfcfc);
  border: solid #d8d8d8 1px;
  text-decoration: none;
  font-family: Georgia, Times, "Times New Roman", serif; }

.slide-show {
  background-position: right center;
  background-repeat: no-repeat;
  height: 350px; }
  .slide-show > .slide-overlay {
    position: relative;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-right: 50px;
    width: 30%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white); }
    .slide-show > .slide-overlay > h1 {
      color: #7494b7;
      text-shadow: 1px 1px #fff;
      font-size: 3.5em; }

.features {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  text-align: center; }
  .features > .box {
    width: 25%;
    margin-left: 10px; }
    .features > .box > h1 {
      font-size: 2.2em;
      color: #7494b7; }
    .features > .box > p.cursive {
      font-size: 1.8em; }

.mission {
  margin-top: 3%;
  margin-bottom: 0%; }
  .mission > h1 {
    font-size: 2.2em;
    color: #7494b7; }
  .mission > p {
    font-size: 1.1em; }
  .mission > p.cursive {
    font-size: 1.8em;
    float: right; }

.about {
  display: flex;
  margin-bottom: 2%; }
  .about > .links-list {
    margin: 0;
    text-align: left;
    width: 15%;
    padding: 5px; }
    .about > .links-list > h2 {
      color: #7494b7;
      font-size: 1.4em; }
    .about > .links-list > ul {
      list-style-type: none;
      padding: 0; }
      .about > .links-list > ul > li {
        margin-top: 5%; }
        .about > .links-list > ul > li > a {
          text-decoration: none;
          color: #000;
          font-size: .9em; }

#links-contact {
  width: 25%; }

#links-social {
  width: 25%; }
  #links-social > .social-icons {
    display: flex;
    justify-content: space-between; }
  #links-social > .email {
    display: flex; }

/*# sourceMappingURL=main.css.map */
